.App {
  display: flex;
  width: 100vw;
  height: auto;
  position: relative;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.homepage {
  min-width: 100%;
  min-height: 100%;
  background: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom right, rgb(255, 253, 125), rgb(151, 250, 184), rgb(253, 209, 158))

}
.header{
  height: 50px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #66778d;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5), 0px 10px 20px -10px rgba(12, 7, 75, 0.5) inset;
  
}
.logo{
  margin-left: 25px;
  color: rgb(239, 241, 66);
}
.account{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 25px;
  color: rgb(239, 241, 66);
}


.homepage_header {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  position: relative;
  top: 30px;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  min-width: 20%;
  min-height: fit-content;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  background: white;
  position: relative
}

.homepage_header > .button {
  background: #1877f2;
  border: 1px solid #1877f2;
  color: #fff;
  font-size: 1.25rem;
  width: 100%;
  text-align:center;
  padding: 0.5rem 0;
  margin: 0.5rem ;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}
.features{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.homepage_header > input{
  border: 1px solid grey;
  outline: none;
  color: #1d2129;
  margin: 0.5rem 0;
  padding: 0.4rem 0;
  width: 100%;
  font-size: 1rem;
}

.react-datetime-picker  {
  width: 100% !important;
}


.homepage_body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}

.reminder_card {
  display: flex;
  flex-direction: column;
  display: inline-block;
  background: white;
  border-radius: 8px;
  margin: 2rem;
  padding: 1rem;
  max-width:350px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.reminder_card > h2 {
  margin-bottom: 1rem;
  color: #1877f2;
}

.reminder_card > p {
  color: grey;
  margin-bottom: 1rem;
}

.reminder_card > .button {
  background: #1877f2;
  border: 1px solid #1877f2;
  color: #fff;
  font-size: 1.25rem;
  width: inherit;
  text-align:center;
  padding: 0.5rem 0;
  margin: 0.5rem ;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}
.bellIcon:hover{
cursor: pointer;
}



.dropdown {
  position: relative;
  display: inline-block;
  top: -12px;
  margin-left: 10px;
}

.dropbtn {
  font-size: 12px;
  border: none;
  outline: none;
  top: -12px;
  color: #333;
  background-color:rebeccapurple;
  color:  #ddd;
  cursor: pointer;
  padding: 7px;
  border-radius: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  background-color: #f1f1f1;
}

.dropdown-content a {
  color: #333;
  font-size: 10px;
  font-weight: bold;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;

}
.dropdown-content>a:hover{
  color: rgb(0, 195, 255);
}

.dropdown:hover .dropbtn {
  background-color: #ddd;
  color: rebeccapurple;
}